<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="OnboardRS" value="https://nuget.pkg.github.com/OnboardRS/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <OnboardRS>
            <add key="Username" value="ACTOR" />
            <add key="ClearTextPassword" value="TOKEN" />
        </OnboardRS>
    </packageSourceCredentials>
</configuration>
